.category-filter {
    display: flex;
    margin: 20px 80px;
}

.filters {
    display: flex;
    white-space: nowrap;
    padding: 7px 14px;
    height: 33px;
    margin: 5px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
    font-size: 15px;
}


.line-break {
    margin-right: 16px;
    margin-left: 8px;
    margin-top: 4px;
    height: 36px;
    border-left: 1px solid rgb(221, 221, 221);
}

.category {
    display: flex;
    flex: 1 0 auto;
    padding: 7px 14px;
    margin: 5px;
    background: #EBEBEB;
    border-radius: 20px;
    font-size: 15px;
}


@media screen and (max-width:1129px) {
    .category-filter {
        margin: 20px;
    }

}

@media screen and (max-width:744px) {
    .category-filter {
        display: none;
    }
}